:deep(tr:has(.wf_table-single-selected-row--content) td) {
  background-color: var(--sub-color-blue);
}

:deep(.wf_table-single-selected-row--content) {
  color: var(--sub-color-sub-02);
}

:deep(.p-datatable-tbody tr:hover > td) {
  cursor: pointer;
  background-color: var(--sub-color-blue);
}
