@import url('@/assets/css/view/common/form-data-table-list.css');

.wf-select-label {
  width: 100%;
}

:deep(.p-datatable-table tr:nth-child(2) th:last-child) {
  border-right: 1px solid var(--neutral-color-ncc) !important;
}

:deep(.p-datatable-table tr) {
  /** display: flex; */
  /** display: table-row !important; */
  color: var(--neutral-color-n-33);
}

:deep(.wf-form-group-small .wf-product-base-info-search .wf-text-box) {
  width: var(--d_128) !important;
}
:deep(.wf_max-w-212) {
  max-width: 212px;
}

:deep(.text-center) {
  text-align: center;
}

:deep(.no-underline) {
  text-decoration: none;
}

:deep(.wf-form-group_pr-8 .wf_flex.wf_items-center.wf_filter-body) {
  padding-right: 8px;
}